.InfoBox {
  display: none;
  .container {
    display: flex;
    flex-direction: column;
    gap: 14px;

    p {
      font-size: 12px;
    }
    span {
      font-size: 14px;
    }
  }
}

.activeContent {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: 0;
  }
}
